body{
    background-image:url(vista-aérea-da-geleira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 {
    background: rgb(49, 75, 223);
}
    #banner {
        width: 100%;
}

p {
    text-align: center;
}

em strong {
    color: #ff0000;
}

