body{
    background-image:url(vista-aérea-da-geleira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    background-image:url(fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner_1258-52379.jpeg);
background-size: 50%;
}

}
 {
    background: rgb(49, 75, 223);
}
    #banner {
        width: 100%;
}

p {
    text-align: center;
}

em strong {
    color: #ff0000;
}

